.container {
	height: 100vh;
	display: flex;
	width: 100%;
	overflow: hidden;
	background-color: black;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px;
}

.FormAndVideos{
	display: flex;
	flex-direction: row;
	gap: 200px;
	justify-content: center;
	align-items: center;
	align-content: center;

}


label {
	color: white;
}
.videoSection {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(18, 12, 3);
	gap: 10px;
}

.video {
	height: 100%;

}
.videoSection .video:nth-child(1) {
	margin-bottom: 50px;
}
.videoSection .video:nth-child(2) {
	margin-top: -20px;
}


form {
	border: 3px solid #f1f1f1;
	background-color: #fff;
	padding: 20px;
	margin: 5px 130px 0 auto;
	width: 530px;
	max-width: 90%;
	display: block;
}

.formTitle1 {
	margin-top: 100px;
	font-size: 45px;
	color: #fff;
	text-align: center;
	margin-right: 420px;
	width: 100%;
	text-align: right;
	position: absolute;
	top: 20px;
	right: -80px;
}
.formSection {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding-right: 10px;
	position: relative;
}

.signin-form {
	display: flex
	;
		align-items: center;
		margin: 30px auto;
		padding: 20px;
		width: 600px;
		background-color: #1a1a1a;
		border-radius: 10px;
		box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.8);
		display: flex;
		flex-direction: column;
		gap: 15px;
		color: #f0f0f0;
		justify-content: center;
}
form label {
	display: block;
	margin-bottom: 8px;
	font-weight: 600;
	color: black;
	margin-top: 30px;
}

form input {
	width: 100%;
	padding: 12px;
	margin-bottom: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

form button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Jersey 15", sans-serif;
	margin-bottom: 20px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 10px;
	border-radius: 20px;
	background-color: rgb(64, 61, 61);
	cursor: pointer;
	font-size: 18px;
	box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.8);
	margin: 15px;
	color: rgb(8, 8, 8);
}

p {
	text-align: center;
}

span {
	font-style: italic;
	font-weight: 600;
	font-size: small;
}
.signup-link {
	margin-top: 25px;
}

button:hover {
	opacity: 0.8;
}

.videoSection {
	background-color: black;
}

@media only screen and (max-width: 912px) {
	.container {
		flex-direction: column;
	}

	.videoSection,
	.formSection {
		width: 100%;
		height: 50%;
	}

	.formSection {
		justify-content: center;
		align-items: center;
	}
}