.landing {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin-top: 20px;
	text-align: center;
	background-color: #f2f4f8;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
}

p {
	margin-top: 10px;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}
h3 span {
	color: #fff;
	font-style: normal;
}

h1,
h3 {
	margin-top: 60px;
	text-align: center;
}

.logo_page {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 210px;
	width: 210px;
	margin: 0 auto; /* Centers the element horizontally */
	background-color: #f2f4f8;
	color: #007bff;
    margin-bottom: 100px;
    margin-top: 200px;
}

.logo_page_img {
    height: 400px;
    width: 400px;
}



.text-white {
	color: white;
}
.video-row {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.video-row video {
	width: 230px;
	height: auto;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	cursor: pointer;
}

.span-signup,
.signup_link {
	position: relative;
	display: inline-block;
	color: #007bff !important;
	font-weight: 600;
	font-style: italic;
	text-decoration: none !important;
	transition: color 0.3s ease;
	font-size: larger;
	margin: 20px 10px 0 0;
}

.signup_link:hover {
	color: orange !important;
}

.signup_link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	background: rgba(0, 123, 255, 0.5);
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease;
}

.signup_link:hover::before {
	transform: scaleX(1);
}