main{
  align-items: center;
}

  form {
  display: flex;
  align-items: center;
  margin: 30px auto;
  padding: 20px;
  width: 600px;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #f0f0f0;
  justify-content: center;
}

form h1 {
  font-size: 24px;
  text-align: center;
  color: #f6f5f2;
  margin-bottom: 20px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

textarea,
input[type="number"] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: white;
  resize: vertical;
  width: 100%;
  box-sizing: border-box;
}

textarea:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #f0b400;
  background-color: #333;
}

button {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(64, 61, 61);
  cursor: pointer;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #bdbdb8;
}

review-textarea {
  width: 40%;
}

div.review-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  gap: 20px;
}

.review-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 20px;
}

.submit-review{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}


.rating-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  form {
      padding: 15px;
  }

  form h1 {
      font-size: 20px;
  }

  label {
      font-size: 14px;
  }

  textarea,
  input[type="number"] {
      font-size: 12px;
  }

  button {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(64, 61, 61);
    cursor: pointer;
    font-size: 18px;
  }
}
