body {
    background-color: black;
    margin: 0;
}

.watchlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0; 
}


.watch-img{
    width: 400px;
    height: 650px;
    border-radius: 10px;
    object-fit: cover;
}

.watchlist-movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 0; 
    transition: transform 0.3s ease-in-out;
    margin: 30px;
}

.remove-btn{
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(64, 61, 61);
    cursor: pointer;
    font-size: 18px;
}

.watchlist-movie-card:hover {
    transform: scale(1.15);
}