/* Reset body and html margins */
body,
html {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background-color: black;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 100px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  flex-direction: row;
  margin-right: 30px;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box; /* Ensure padding is accounted for */
}

/* Ensure the search bar container is positioned relative */
.searchbar-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Search bar styles */
.input-searchbar {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
  border-radius: 25px;
  height: 30px;
  width: 300px;
  padding: 8px;
  font-size: 16px;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-right: 100px;
}

/* Position the search results directly below the search bar */
.search-results {
  position: absolute;
  top: 49px; /* Distance from the search bar */
  width: 280px;
  background-color: white;
  color: black;
  z-index: 999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  max-height: 300px;
  overflow-y: auto;
  display: flex;
  
}

/* Ensure body content is below navbar */
body {
  padding-top: 120px; /* Push content down to make space for navbar */
}

/* Navbar links styling */
.nav-links img {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  box-shadow: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-links li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 150px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #4f4e4d;
}

.search-results a {
	color: black;
}

.results-movie ul {
	display: flex;
	align-items: center;
	
}

.navbar-tab{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.results-text {
	width: 100%;
	justify-content: center;
}

.navar-container {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}