.container {
	height: 100vh;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
}

.signup-content {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center;
	gap: 150px
}

.videoSection {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Align videos to the left */
	justify-content: center;
	/* margin-top: 100px; */
	gap: 50px;
}

.video-signup,
.video {
	width: 400px; /* Ensure consistent width */
	height: 200px; /* Set consistent height */
	border-radius: 10px;
	object-fit: cover; /* Maintain aspect ratio while filling the dimensions */
}

/* Form Section */
.formSection {
	flex: 1.2;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.formTitle {
	margin-bottom: 40px;
	font-size: 45px;
	color: #fff;
	text-align: center;
}

form {
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

form label {
	font-weight: 600;
	color: white;
	margin-bottom: 8px;
}

form input {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

form input:focus {
	border-color: #00a0df;
	outline: none;
	box-shadow: 0 0 4px rgba(0, 160, 223, 0.6);
}

form button {
	width: 100%;
	padding: 12px;
	background-color: #00a0df;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

form button:hover {
	background-color: #008ac1;
}

@media only screen and (max-width: 912px) {
	.container {
		flex-direction: column;
	}

	.videoSection,
	.formSection {
		width: 100%;
		height: auto;
		padding: 10px;
	}

	.videoSection {
		align-items: center; /* Center videos on smaller screens */
	}

	.video-signup,
	.video {
		width: 200px; /* Adjust size for smaller screens */
		height: 120px;
	}

	.formTitle {
		font-size: 32px;
		margin-bottom: 20px;
	}
}
